venv
inputs/
task/__pycache__/
.vscode/launch.json
IMPLEMENTATION_PLAN_FROM_SCRATCH.md
IMPLEMENTATION_PLAN.md
output.jsonl
output.jsonl.status.jsonl
TODO.md
README-ORI..md
**/__pycache__/
.playwright-mcp/

.agents/
.github/agents/
